# Results 

 | |Baseline|DC3|Karp Rabin|Naive|Z Box|
|:---|---:|---:|---:|---:|---:|
|[NM-1](#no-matches-test-1)|0.017803 - (ERROR)|2.275334 - (OK)|0.400503 - (OK)|2.884962 - (OK)|0.334508 - (OK)|
|[NM-2](#no-matches-test-2)|0.016806 - (ERROR)|2.123359 - (OK)|0.389490 - (OK)|0.099052 - (OK)|0.262582 - (OK)|
|[NM-3](#no-matches-test-3)|0.014060 - (ERROR)|2.196012 - (OK)|0.224273 - (OK)|0.112925 - (OK)|0.181209 - (OK)|
|[NM-4](#no-matches-test-4)|0.013760 - (ERROR)|2.197164 - (OK)|0.216047 - (OK)|0.111912 - (OK)|0.183278 - (OK)|
|[NM-5](#no-matches-test-5)|0.017863 - (ERROR)|2.263468 - (OK)|0.403913 - (OK)|0.280739 - (OK)|0.208858 - (OK)|
|[NM-6](#no-matches-test-6)|0.014887 - (ERROR)|2.181037 - (OK)|0.281168 - (OK)|0.126659 - (OK)|0.197139 - (OK)|
|[OM-1](#one-match-test-1)|0.017718 - (ERROR)|2.255847 - (OK)|0.401171 - (OK)|0.107592 - (OK)|0.223464 - (OK)|
|[OM-2](#one-match-test-2)|0.018173 - (ERROR)|2.447503 - (OK)|0.409228 - (OK)|1.471613 - (OK)|0.258566 - (OK)|
|[OM-3](#one-match-test-3)|0.017304 - (ERROR)|2.241101 - (OK)|0.398059 - (OK)|0.106514 - (OK)|0.216901 - (OK)|
|[OM-4](#one-match-test-4)|0.017395 - (ERROR)|2.456676 - (OK)|0.396439 - (OK)|1.440884 - (OK)|0.255530 - (OK)|
|[PP-1](#pattern-to-pattern-1)|0.028009 - (ERROR)|2.257506 - (OK)|0.121197 - (OK)|0.050272 - (OK)|0.321721 - (OK)|
|[PP-2](#pattern-to-pattern-2)|0.028499 - (ERROR)|3.009819 - (OK)|0.123878 - (OK)|0.055679 - (OK)|0.479516 - (OK)|
|[PP-3](#pattern-to-pattern-3)|0.029558 - (ERROR)|2.687360 - (OK)|0.126879 - (OK)|0.053313 - (OK)|0.450983 - (OK)|
|[MM-1](#multiple-matches-test-1)|0.017196 - (ERROR)|2.269197 - (OK)|0.409139 - (OK)|0.120052 - (OK)|0.211758 - (OK)|
|[MM-2](#multiple-matches-test-1)|0.017559 - (ERROR)|2.228598 - (OK)|0.408781 - (OK)|0.118074 - (OK)|0.215200 - (OK)|
|[MM-3](#multiple-matches-test-3)|0.015187 - (ERROR)|2.223790 - (OK)|0.330668 - (OK)|0.124308 - (OK)|0.185348 - (OK)|
|[MM-4](#multiple-matches-test-4)|0.015772 - (ERROR)|2.234995 - (OK)|0.323765 - (OK)|0.122287 - (OK)|0.182715 - (OK)|
|[OC-1](#one-character-test-1)|0.017294 - (ERROR)|2.536676 - (OK)|8.664622 - (OK)|8.479002 - (OK)|0.394846 - (ERROR)|
|[OC-2](#one-character-test-2)|0.014225 - (ERROR)|2.190491 - (OK)|0.299718 - (OK)|0.125824 - (OK)|0.254596 - (OK)|
|[OC-3](#one-character-test-3)|0.013783 - (ERROR)|2.190330 - (OK)|0.379340 - (OK)|0.144526 - (OK)|0.356447 - (OK)|
|[OC-4](#one-character-test-4)|0.013768 - (ERROR)|2.194535 - (OK)|0.423636 - (OK)|0.171872 - (OK)|0.358711 - (ERROR)|
|[OC-5](#one-character-test-5)|0.016155 - (ERROR)|2.212952 - (OK)|0.426244 - (OK)|0.173289 - (OK)|0.362537 - (ERROR)|
|[OC-6](#one-character-test-6)|0.013777 - (ERROR)|2.210178 - (OK)|0.448267 - (OK)|0.189911 - (OK)|0.359325 - (ERROR)|
|[OC-7](#one-character-test-7)|0.000746 - (ERROR)|0.121543 - (OK)|0.559142 - (OK)|0.540957 - (OK)|0.019175 - (ERROR)|
|[OC-8](#one-character-test-8)|0.007192 - (ERROR)|1.297282 - (OK)|5.810640 - (OK)|5.660727 - (OK)|0.202909 - (ERROR)|
|[OC-9](#one-character-test-9)|0.070110 - (ERROR)|14.753042 - (OK)|59.561166 - (OK)|56.936410 - (OK)|1.923257 - (ERROR)|
|[CT-1](#classic-test-1)|0.032769 - (ERROR)|4.437341 - (OK)|0.180841 - (OK)|0.096541 - (OK)|0.182031 - (OK)|
|[CT-2](#classic-test-2)|0.034131 - (ERROR)|4.310126 - (OK)|0.133311 - (OK)|0.073476 - (OK)|0.162137 - (OK)|
|[CT-3](#classic-test-3)|0.023242 - (ERROR)|2.883934 - (OK)|0.130288 - (OK)|0.070033 - (OK)|0.134784 - (OK)|
|[CT-4](#classic-test-4)|0.022641 - (ERROR)|2.907063 - (OK)|0.166067 - (OK)|0.078008 - (OK)|0.127452 - (OK)|
|[CT-5](#classic-test-5)|0.022980 - (ERROR)|2.877019 - (OK)|0.128704 - (OK)|0.068229 - (OK)|0.134719 - (OK)|
|[CT-6](#classic-test-6)|0.022850 - (ERROR)|2.777572 - (OK)|0.125529 - (OK)|0.073977 - (OK)|0.130009 - (OK)|
|[IL-1](#increasing-length-test-1)|0.000124 - (ERROR)|0.013604 - (OK)|0.001730 - (OK)|0.014372 - (OK)|0.002016 - (OK)|
|[IL-2](#increasing-length-test-2)|0.000760 - (ERROR)|0.123330 - (OK)|0.023312 - (OK)|0.543800 - (OK)|0.017541 - (OK)|
|[IL-3](#increasing-length-test-3)|0.006684 - (ERROR)|1.281926 - (OK)|0.240927 - (OK)|5.799395 - (OK)|0.176064 - (OK)|
|[IL-4](#increasing-length-test-4)|0.066255 - (ERROR)|14.905076 - (OK)|2.424689 - (OK)|58.298066 - (OK)|1.739900 - (OK)|
|[IL-5](#increasing-length-test-5)|0.000120 - (ERROR)|0.012387 - (OK)|0.001626 - (OK)|0.015106 - (OK)|0.001740 - (OK)|
|[IL-6](#increasing-length-test-6)|0.000715 - (ERROR)|0.116633 - (OK)|0.024813 - (OK)|0.020050 - (OK)|0.010331 - (OK)|
|[IL-7](#increasing-length-test-7)|0.006724 - (ERROR)|1.330348 - (OK)|0.251068 - (OK)|0.080381 - (OK)|0.095315 - (OK)|
|[IL-8](#increasing-length-test-8)|0.069291 - (ERROR)|21.259967 - (OK)|2.502365 - (OK)|0.678216 - (OK)|0.976864 - (OK)|
|[IP-1](#increasing-length-test-1)|0.000168 - (ERROR)|0.014144 - (OK)|0.000707 - (OK)|0.000314 - (OK)|0.002569 - (OK)|
|[IP-2](#increasing-length-test-2)|0.001315 - (ERROR)|0.132211 - (OK)|0.006553 - (OK)|0.002576 - (OK)|0.025370 - (OK)|
|[IP-3](#increasing-length-test-3)|0.013115 - (ERROR)|1.395350 - (OK)|0.064509 - (OK)|0.026030 - (OK)|0.250918 - (OK)|
|[IP-4](#increasing-length-test-4)|0.131734 - (ERROR)|16.008739 - (OK)|0.664400 - (OK)|0.297727 - (OK)|2.415647 - (OK)|
|[IP-5](#increasing-length-test-5)|0.000155 - (ERROR)|0.012872 - (OK)|0.000656 - (OK)|0.000271 - (OK)|0.002053 - (OK)|
|[IP-6](#increasing-length-test-6)|0.001374 - (ERROR)|0.123030 - (OK)|0.006781 - (OK)|0.002759 - (OK)|0.016261 - (OK)|
|[IP-7](#increasing-length-test-7)|0.013611 - (ERROR)|1.421976 - (OK)|0.064389 - (OK)|0.026876 - (OK)|0.167957 - (OK)|
|[IP-8](#increasing-length-test-8)|0.140413 - (ERROR)|22.293147 - (OK)|0.656579 - (OK)|0.280986 - (OK)|1.579105 - (OK)|
|[IP-A](#increasing-length-test-a)|0.000153 - (ERROR)|0.016463 - (OK)|0.000682 - (OK)|0.000290 - (OK)|0.002491 - (OK)|
|[IP-B](#increasing-length-test-b)|0.001596 - (ERROR)|0.205716 - (OK)|0.006450 - (OK)|0.002447 - (OK)|0.025090 - (OK)|
|[IP-C](#increasing-length-test-c)|0.013730 - (ERROR)|2.334651 - (OK)|0.063112 - (OK)|0.026967 - (OK)|0.261693 - (OK)|
|[IP-D](#increasing-length-test-d)|0.132404 - (ERROR)|26.513595 - (OK)|0.615364 - (OK)|0.259512 - (OK)|2.524703 - (OK)|
|[IP-E](#increasing-length-test-e)|0.000172 - (ERROR)|0.007353 - (OK)|0.000716 - (OK)|0.000272 - (OK)|0.001684 - (OK)|
|[IP-F](#increasing-length-test-f)|0.001361 - (ERROR)|0.077226 - (OK)|0.006590 - (OK)|0.002696 - (OK)|0.016990 - (OK)|
|[IP-G](#increasing-length-test-g)|0.013594 - (ERROR)|0.921167 - (OK)|0.066344 - (OK)|0.026617 - (OK)|0.164431 - (OK)|
|[IP-H](#increasing-length-test-h)|0.137666 - (ERROR)|13.132750 - (OK)|0.669121 - (OK)|0.277125 - (OK)|1.653623 - (OK)|
|[MN-1](#multiple-no-matches-1)|0.050468 - (ERROR)|3.442634 - (OK)|0.050466 - (ERROR)|28.699672 - (OK)|0.051790 - (ERROR)|
|[MN-2](#multiple-no-matches-2)|0.050363 - (ERROR)|2.185260 - (OK)|0.051053 - (ERROR)|0.946645 - (OK)|0.049743 - (ERROR)|
|[MN-3](#multiple-no-matches-3)|0.014731 - (ERROR)|2.196001 - (OK)|0.014463 - (ERROR)|1.002131 - (OK)|0.014559 - (ERROR)|
|[MN-4](#multiple-no-matches-4)|0.014508 - (ERROR)|2.207087 - (OK)|0.014922 - (ERROR)|1.000801 - (OK)|0.014849 - (ERROR)|
|[MN-5](#multiple-no-matches-5)|0.050708 - (ERROR)|3.034146 - (OK)|0.053628 - (ERROR)|2.598157 - (OK)|0.051908 - (ERROR)|
|[MN-6](#multiple-no-matches-6)|0.021411 - (ERROR)|2.211084 - (OK)|0.021835 - (ERROR)|1.138228 - (OK)|0.021682 - (ERROR)|
|[MP-1](#multiple-pattern-matches-test-1)|0.049188 - (ERROR)|2.999346 - (OK)|0.050179 - (ERROR)|1.052312 - (OK)|0.051411 - (ERROR)|
|[TB-1](#tests-over-the-holly-bible-1)|0.297725 - (ERROR)|106.780350 - (OK)|0.296718 - (ERROR)|2.350576 - (OK)|0.291929 - (ERROR)|
|[TB-2](#tests-over-the-holly-bible-2)|0.297788 - (ERROR)|106.826318 - (OK)|0.294833 - (ERROR)|103.373014 - (OK)|0.297257 - (ERROR)|
# Descriptions 

## No Matches Test 1 

 
Corre 100 veces el string matcher sobre una cadena de largo 2000 en la cual no hay matches.

Hay 3 posibles candidatos de n-1 elementos, con n=500 el largo del patron.
                
## No Matches Test 2 

 
Corre 100 veces el string matcher sobre una cadena de largo 2000 en la cual no hay matches.

No hay ningun posible candidato porque no hay caracteres en comun entre el patron y el string. Patron de largo n=500.
                
## No Matches Test 3 

 
Corre 100 veces el string matcher sobre una cadena de largo 2004 en la cual no hay matches.

Hay 3 posibles candidatos de n-1 elementos, con n=5 el largo del patron (patron corto).
                
## No Matches Test 4 

 
Corre 100 veces el string matcher sobre una cadena de largo 2004 en la cual no hay matches.

No hay ningun posible candidato porque no hay caracteres en comun entre el patron y el string. Patron de largo n=5 (Patron corto).
                
## No Matches Test 5 

 
Corre 100 veces el string matcher sobre una cadena de largo 2000 en la cual no hay matches.

La cadena esta conformada por 4 patrones concatenados sin el ultimo caracter. El patron es periodico asi que hay varios matches parciales.
El patron es de largo n, con n=500.
                
## No Matches Test 6 

 
Corre 100 veces el string matcher sobre una cadena de largo 2000 en la cual no hay matches.

No hay 500 posibles candidatos, porque aparecen los n-1 primeros caracters del patron repetidos 500 veces cada n caracteres,
en el string, con n=100 el largo del patron.
                
## One Match Test 1 

 
Corre 100 veces el string matcher sobre una cadena de largo 2000 en la cual hay solo un match.

No hay mas de un solo posible candidato, solo hay 2 caracteres en la cadena, y uno solo se presenta al inicio del
patron de largo n=500.
                
## One Match Test 2 

 
Corre 100 veces el string matcher sobre una cadena de largo 2000 en la cual hay solo un match.

Hay varios posibles candidatos ya que, solo hay 2 caracteres en la cadena, y uno solo se presenta al inicio del
patron de largo n=500 de forma repetida..
                
## One Match Test 3 

 
Corre 100 veces el string matcher sobre una cadena de largo 2000 en la cual hay solo un match.

No hay mas de un solo posible candidato, solo hay 3 caracteres en la cadena, y uno solo se presenta al inicio del
patron de largo n=500.
                
## One Match Test 4 

 
Corre 100 veces el string matcher sobre una cadena de largo 2000 en la cual hay solo un match.

Hay varios posibles candidatos ya que, solo hay 3 caracteres en la cadena, y uno solo se presenta al inicio del
patron de largo n=500 de forma repetida..
                
## Pattern to Pattern 1 

 
Corre 400 veces el string matcher sobre una cadena de largo 500 en la cual hay solo un match. La cadena es el patron mismo.

No hay mas de un solo posible candidato, solo hay 2 caracteres en la cadena, y uno solo se presenta al inicio del
patron de largo n=500..
                
## Pattern to Pattern 2 

 
Corre 400 veces el string matcher sobre una cadena de largo 500 en la cual hay solo un match. La cadena es el patron mismo.

Hay varios posibles candidatos, solo hay 2 caracteres en la cadena, y uno solo se presenta al inicio del
patron de largo n=500 repetido n-1 veces.
                
## Pattern to Pattern 3 

 
Corre 200 veces el string matcher sobre una cadena de largo 1000 en la cual hay solo un match. La cadena es el patron mismo.

Hay varios posibles candidatos, solo hay 2 caracteres en la cadena, y se presentan de forma intercalada
en el patron de largo n=1000.
                
## Multiple Matches Test 1 

 
Corre 100 veces el string matcher sobre una cadena de largo 2000 en la cual hay 4 matches un match.

No hay mas de solo 4 posible candidatos, solo hay 3 caracteres en la cadena, y uno solo se presenta al inicio del
patron de largo n=500, siendo la cadena una concatenacion de 4 veces el patron.
                
## Multiple Matches Test 1 

 
Corre 100 veces el string matcher sobre una cadena de largo 2000 en la cual hay 4 matches un match.

No hay mas de solo 8 posible candidatos, solo hay 3 caracteres en la cadena, y uno solo se presenta al inicio y al final del
patron de largo n=500, siendo la cadena una concatenacion de 4 veces el patron.
                
## Multiple Matches Test 3 

 
Corre 100 veces el string matcher sobre una cadena de largo 2000 en la cual hay 4 matches un match.

No hay mas de solo 8 posible candidatos, solo hay 3 caracteres en la cadena, y uno solo se presenta al inicio del
patron de largo n=250, siendo la cadena una concatenacion de 4 veces el patron mas 4 veces un match parcial.
                    
## Multiple Matches Test 4 

 
Corre 100 veces el string matcher sobre una cadena de largo 2000 en la cual hay 4 matches un match.

No hay mas de solo 8 posible candidatos, solo hay 3 caracteres en la cadena, y uno solo se presenta al inicio del
patron de largo n=250, siendo la cadena una concatenacion de 4 veces un match parcial mas 4 veces el patron.
                    
## One Character Test 1 

 
Corre 100 veces el string matcher sobre una cadena de largo 2000 en la cual hay solo un caracter.

Hay largo de la cadena menos n matches, siendo n=500 el largo del patron.
                
## One Character Test 2 

 
Corre 100 veces el string matcher sobre una cadena de largo 2000 en la cual hay solo un caracter.

Hay largo de la cadena menos n matches, siendo n=1 el largo del patron (patron corto).
                
## One Character Test 3 

 
Corre 100 veces el string matcher sobre una cadena de largo 2000 en la cual hay solo un caracter.

Hay largo de la cadena menos n matches, siendo n=2 el largo del patron (patron corto de largo par).
                
## One Character Test 4 

 
Corre 100 veces el string matcher sobre una cadena de largo 2000 en la cual hay solo un caracter.

Hay largo de la cadena menos n matches, siendo n=3 el largo del patron (patron corto de largo impar).
                
## One Character Test 5 

 
Corre 100 veces el string matcher sobre una cadena de largo 2000 en la cual hay solo un caracter.

Hay largo de la cadena menos n matches, siendo n=3 el largo del patron (patron corto limite ventana DC3).
                
## One Character Test 6 

 
Corre 100 veces el string matcher sobre una cadena de largo 2000 en la cual hay solo un caracter.

Hay largo de la cadena menos n matches, siendo n=4 el largo del patron (patron limite+1 ventana DC3).
                
## One Character Test 7 

 
Corre 100 veces el string matcher sobre una cadena de largo 10000 en la cual hay solo un caracter.

Hay largo de la cadena menos n matches, siendo n=500 el largo del patron (patron corto).
                
## One Character Test 8 

 
Corre 100 veces el string matcher sobre una cadena de largo 100000 en la cual hay solo un caracter.

Hay largo de la cadena menos n matches, siendo n=500 el largo del patron (patron corto de largo par).
                
## One Character Test 9 

 
Corre 100 veces el string matcher sobre una cadena de largo 1000000 en la cual hay solo un caracter.

Hay largo de la cadena menos n matches, siendo n=500 el largo del patron (patron corto de largo impar).
                
## Classic Test 1 

 
Corre 16666 veces el string matcher sobre "banana" buscando el patron "ana". Ejemplo de DC3
                
## Classic Test 2 

 
Corre 16666 veces el string matcher sobre "banana" buscando el patron "yaba". Ejemplo de DC3
                
## Classic Test 3 

 
Corre 8333 veces el string matcher sobre "yabbadabbado" buscando el patron "yabba". Ejemplo de DC3
                
## Classic Test 4 

 
Corre 8333 veces el string matcher sobre "yabbadabbado" buscando el patron "bba". Ejemplo de DC3
                
## Classic Test 5 

 
Corre 8333 veces el string matcher sobre "yabbadabbado" buscando el patron "dabba". Ejemplo de DC3
                
## Classic Test 6 

 
Corre 8333 veces el string matcher sobre "yabbadabbado" buscando el patron "ana". Ejemplo de DC3
                
## Increasing Length Test 1 

 
Match en el principio de la cadena de largo 1000
        
## Increasing Length Test 2 

 
Match en el principio de la cadena de largo 10000
        
## Increasing Length Test 3 

 
Match en el principio de la cadena de largo 100000
        
## Increasing Length Test 4 

 
Match en el principio de la cadena de largo 1000000
        
## Increasing Length Test 5 

 
Match en el principio de la cadena de largo 1000
        
## Increasing Length Test 6 

 
Match en el principio de la cadena de largo 10000
        
## Increasing Length Test 7 

 
Match en el principio de la cadena de largo 100000
        
## Increasing Length Test 8 

 
Match en el principio de la cadena de largo 1000000
        
## Increasing Length Test 1 

 
Match en el principio de la cadena de largo 1000
        
## Increasing Length Test 2 

 
Match en el principio de la cadena de largo 10000
        
## Increasing Length Test 3 

 
Match en el principio de la cadena de largo 100000
        
## Increasing Length Test 4 

 
Match en el principio de la cadena de largo 1000000
        
## Increasing Length Test 5 

 
Match en el principio de la cadena de largo 1000
        
## Increasing Length Test 6 

 
Match en el principio de la cadena de largo 10000
        
## Increasing Length Test 7 

 
Match en el principio de la cadena de largo 100000
        
## Increasing Length Test 8 

 
Match en el principio de la cadena de largo 1000000
        
## Increasing Length Test A 

 
Match en el principio de la cadena de largo 1000
        
## Increasing Length Test B 

 
Match en el principio de la cadena de largo 10000
        
## Increasing Length Test C 

 
Match en el principio de la cadena de largo 104500
        
## Increasing Length Test D 

 
Match en el principio de la cadena de largo 1000000
        
## Increasing Length Test E 

 
Match en el principio de la cadena de largo 1000
        
## Increasing Length Test F 

 
Match en el principio de la cadena de largo 10000
        
## Increasing Length Test G 

 
Match en el principio de la cadena de largo 100000
        
## Increasing Length Test H 

 
Match en el principio de la cadena de largo 1000000
        
## Multiple No-Matches 1 

 
Corre 100 veces el string matcher sobre una cadena de largo 2000 en la cual no hay matches.

Hay 3 posibles candidatos de n-1 elementos, con n=500 el largo del patron.
                
## Multiple No-Matches 2 

 
Corre 100 veces el string matcher sobre una cadena de largo 2000 en la cual no hay matches.

No hay ningun posible candidato porque no hay caracteres en comun entre el patron y el string. Patron de largo n=500.
                
## Multiple No-Matches 3 

 
Corre 100 veces el string matcher sobre una cadena de largo 2004 en la cual no hay matches.

Hay 3 posibles candidatos de n-1 elementos, con n=5 el largo del patron (patron corto).
                
## Multiple No-Matches 4 

 
Corre 100 veces el string matcher sobre una cadena de largo 2004 en la cual no hay matches.

No hay ningun posible candidato porque no hay caracteres en comun entre el patron y el string. Patron de largo n=5 (Patron corto).
                
## Multiple No-Matches 5 

 
Corre 100 veces el string matcher sobre una cadena de largo 2000 en la cual no hay matches.

La cadena esta conformada por 4 patrones concatenados sin el ultimo caracter. El patron es periodico asi que hay varios matches parciales.
El patron es de largo n, con n=500.
                
## Multiple No-Matches 6 

 
Corre 100 veces el string matcher sobre una cadena de largo 2000 en la cual no hay matches.

No hay 500 posibles candidatos, porque aparecen los n-1 primeros caracters del patron repetidos 500 veces cada n caracteres,
en el string, con n=100 el largo del patron.
                
## Multiple Pattern Matches Test 1 

 
Corre 100 veces el string matcher sobre una cadena de largo 2000 en la cual hay 4 matches un match.

No hay mas de solo 4 posible candidatos, solo hay 3 caracteres en la cadena, y uno solo se presenta al inicio del
patron de largo n=500, siendo la cadena una concatenacion de 4 veces el patron.
                
## Tests over the holly bible 1 

 
Corre 100 veces el string matcher sobre una cadena de largo 4351844 en la cual hay 4 matches un match.

No hay mas de solo 4 posible candidatos, solo hay 3 caracteres en la cadena, y uno solo se presenta al inicio del
patron de largo n=1, siendo la cadena una concatenacion de 4 veces el patron.
                
## Tests over the holly bible 2 

 
Corre 100 veces el string matcher sobre una cadena de largo 4351844 en la cual hay 4 matches un match.

No hay mas de solo 4 posible candidatos, solo hay 3 caracteres en la cadena, y uno solo se presenta al inicio del
patron de largo n=50, siendo la cadena una concatenacion de 4 veces el patron.
                
