| |Karp Rabin|Naive|Nothing <Test Only>|Z Box|
|:---|:---|:---|:---|:---|
|[NM-1](#No-Matches-Test-1)| 10.186 - (OK)| 29.7915 - (OK)| 0.000184536 - (ERROR)| 89.8559 - (ERROR)|
## No Matches Test 1 

 
Corre 1000 veces el string matcher sobre una cadena de largo 1548 en la cual no hay matches.

Hay 3 posibles candidatos de n-1 elementos, con n=500 el largo del patron.
                
